body {
  font-size: 1.2em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Palatino,Garamond,Times,Georgia,serif;
}
code, kbd, pre, samp {
  font-family: consolas;
}

nav#nav {
  font-size: 2em;
  a{
    display: inline-block;
    padding: 10px 30px;
  }
  a.current.idx_even {
    transform: rotate(5deg);
  }
  a.current.idx_odd {
    transform: rotate(-5deg);
  }
}

.current {
  color: green;
  background: #ecc;
}

figure.highlight {
  background: #000;
  margin: 0px;
  pre{
    margin: 0;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    code {
      font-family: Monaco;
      font-size: 0.8em;
    }
    code::before {
      transform: rotate(-15deg);
      display: block;
      background: #eef;
      text-align: center;
      width: 100px;
      opacity: 0.8;
      margin-bottom: 20px;
    }
    code.language-html::before {
      content: "HTML";
      color: #34d;
    }
    code.language-css::before {
      content: "CSS";
      color: #34d;
    }
    code.language-javascript::before {
      content: "JS";
      color: #34d;
    }
  }
 
}

blockquote {
  border-left: 6px solid #8282e2;
  margin-left: 0;
  padding-left: 6px;
}

nav#nav + h1 + p {
  font-size: 1.2em;
}