<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link media="all" rel="stylesheet" type="text/css" href="/assets/css/rouge.css" />
    {% seo %}


</head>

<body>
    {% include navigation.html is_post="1" %}

    <h1>{{ page.title }}</h1>

    <p>
        {{ page.date | date_to_string }}
        {% assign author = site.authors | where: 'short_name', page.author | first %}
        {% if author %}
        - <a href="{{ author.url }}">{{ author.name }}</a>
        {% endif %}
    </p>
    {{ content }}
</body>

</html>